*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}   
.create-account{
    margin: auto;
    width: 50%;
    border: 1px solid grey;
    padding: 2rem;
    background-color: white;
}
.info{
    font-size: 1rem;
}
body{
    background: url(logo.png) no repeat;
    background-blend-mode:darken;
    filter: brightness(50%);
}
